@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', sans-serif;
}

:root {
    --brown: #4c2b00;
    --white: #ffffff;
}


/*------------------*/
/*-----HEADER-------*/
/*------------------*/

#header {
    position: fixed;
    ;
    background-color: rgba(255, 255, 255, 0.6);
    color: var(--brown);
    width: 100%;
    display: flex;
    padding: 0 10%;
    height: 90px;
}

#header-img {
    float: left;
    height: 100px;
    width: 110px;
}

#nav-bar {
    display: inline-flex;
    justify-content: flex-end;
    width: 80%;
    font-size: 130%;
}

#nav-bar a {
    margin-left: 60px;
    margin-top: 2.7%;
}

#nav-bar a:active,
#nav-bar a:visited,
#nav-bar a:link {
    color: var(--brown);
    text-decoration: none;
}

/*---------------------*/
/*-----SECTION 1-------*/
/*---------------------*/

#sec-1 {
    background-image: url(img/sec-1-backgrnd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
}

#sec-1:last-child {
    justify-content: right;
}

h1 {
    font-weight: 200;
    font-size: 300%;
    margin-left: 7%;
}

#main-btn {
    color: var(--brown);
    height: 50px;
    width: 250px;
    border-radius: 50px;
    background-color: var(--white);
    text-align: center;
    font-size: 130%;
    padding: 8px;
    margin-left: 7%;
    margin-top: 15px;
    cursor: pointer;
}

#main-btn:hover {
    color: var(--white);
    background-color: var(--brown);
    border: 1px solid var(--white);
}

/*---------------------*/
/*-----SECTION 2-------*/
/*---------------------*/

#sec-2 {
    padding: 5% 3% 0 3%;
    justify-content: center;
    text-align: center;
}

.headers {
    flex-direction: column;
    width: 100%;
}

h2 {
    font-weight: 200;
    font-size: 300%;
    color: var(--brown);
}

h3 {
    font-weight: 200;
    font-size: 220%;
    color: var(--brown);
}

h4 {
    font-weight: 300;
    font-size: 210%;
}

#row {
    display: inline-flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 7% 5%;
}

.main-container-1,
.main-container-2,
.main-container-3 {
    width: 25%;
    padding: 15px;
}

.fas {
    font-size: 60px;
}

.text {
    font-size: 120%;
}

.text-container {
    margin-top: 20px;
}

.main-container-1 {
    color: var(--brown);
    border: 2px solid var(--brown);
}

.main-container-2 {
    color: #8f5305;
    border: 2px solid #8f5305;
}

.main-container-3 {
    color: #da9e4f;
    border: 2px solid #da9e4f;
}

.button-container {
    margin-top: 50px;
}

.btn {
    color: var(--brown);
    height: 50px;
    width: 200px;
    border-radius: 50px;
    background-color: var(--white);
    text-align: center;
    font-size: 130%;
    padding: 8px;
    cursor: pointer;
    margin-bottom: 15px;
}

.btn-flavor-1 {
    border: 2px solid var(--brown);
}

.btn-flavor-1:hover {
    color: var(--white);
    background-color: var(--brown);
    border: 2px solid var(--brown);
}

.btn-flavor-2 {
    color: #8f5305;
    border: 2px solid #8f5305;
}

.btn-flavor-2:hover {
    color: var(--white);
    background-color: #8f5305;
    border: 2px solid #8f5305;
}

.btn-flavor-3 {
    color: #da9e4f;
    border: 2px solid #da9e4f;
}

.btn-flavor-3:hover {
    color: var(--white);
    background-color: #da9e4f;
    border: 2px solid #da9e4f;
}



/*---------------------*/
/*-----SECTION 3-------*/
/*---------------------*/

#sec-3 {
    display: flex;
    padding: 5% 3% 5% 3%;
    justify-content: center;
}

#video {
    width: 45%;
    height: auto;
}

#coffee-bag-img {
    width: 40%;

}

/*---------------------*/
/*-----SECTION 4-------*/
/*---------------------*/

#sec-4 {
    padding: 5% 3% 0 3%;
    justify-content: center;
    text-align: center;
}

.newsletter-text {
    font-size: 130%;
    color: var(--brown);
}

#form {
    margin: 40px 0;
}

input[type=email] {
    height: 50px;
    width: 350px;
    font-size: 130%;
    padding: 3px;
    outline: none;
    border: 2px solid rgb(92, 160, 66);
    border-radius: 5px;
}

input[type=email]::placeholder {
    text-align: center;
}

.btn-email {
    color: #fff;
    background-color: rgb(92, 160, 66);
    height: 50px;
    width: 150px;
    border-radius: 50px;
    border: 2px solid rgb(92, 160, 66);
    text-align: center;
    font-size: 130%;
    padding: 8px;
    cursor: pointer;
    margin-bottom: 15px;
    margin-left: 25px;
}

.btn-email:hover {
    color:  var(--white);
    background-color:  rgb(65, 114, 46);
    border: 2px solid  rgb(65, 114, 46);
}

.images-container {
    display:flex; 
    justify-content: center; 
    margin-bottom: 3%; 
}

#coffee-spill-img {
    width: 550px;
}

#brownie-img {
    width: 350px;
    height: 300px;
    align-self: flex-end;
}

/*---------------------*/
/*--------FOOTER-------*/
/*---------------------*/

footer {
    color: var(--white);
    height: 10%;
    background-color: var(--brown);
    padding: 0 3%;
}

.footer {
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-media>a {
    font-size: 25px;
    margin-left: 20px;
    cursor: pointer;
}

.links>a {
    margin-left: 20px;
    cursor: pointer;
}

.social-media>a:hover,
.links>a:hover {
    color: rgb(92, 160, 66);

}

@media only screen and (max-width: 1669px) {

    .btn-flavor-2,
    .btn-flavor-3 {
        margin-top: 27px;
    }
}

@media only screen and (max-width: 1565px) {
    .btn-flavor-1 {
        margin-top: 27px;
    }

    .btn-flavor-3 {
        margin-top: 55px;
    }
}

@media only screen and (max-width: 1563px) {
    .btn-flavor-3 {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 1335px) {

    .btn-flavor-2,
    .btn-flavor-3 {
        margin-top: 55px;
    }
}

@media only screen and (max-width: 1381px) {

    h2 {
        font-size: 270%;
    }

    h3 {
        font-size: 190%;
    }

    .main-container-1,
    .main-container-2,
    .main-container-3 {
        width: 90%;
        margin-bottom: 25px;
        margin-left: 2%;
    }

    .btn-flavor-1 {
        margin-top: 60px;
    }

    #sec-3 {
        padding: 0 3%;
        display:block;
        text-align: center;
    }

    #video {
        width: 85%;
        height: 60vh;
    }
    
    #coffee-bag-img {
        margin-top: 7%;
    }

}

@media only screen and (max-width: 1350px) {
    #header {
        padding: 0 0 0 10%; 
    }

    .btn-flavor-1 {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 1252px) {
    .btn-flavor-1  {
        margin-top: 55px;
    }

}

@media only screen and (max-width: 1105px) {

    #nav-bar {
        padding-top: 1.5%;
        font-size: 110%;
    }

    h1 {
        font-size: 300%;
        margin: 0 7%;
    }

    #main-btn {
        width: 210px; 
    }

    h2 {
        font-size: 250%;
    }

    h3 {
        font-size: 170%;
    }

    .btn-flavor-3  {
        margin-top: 25px;
    }

    #video {
        width: 85%;
        height: 50vh;
    }

}

/* #row {
        display: block;
        width: 90%;
        margin: 7% 5%;
    } */

/* .main-container-1,
    .main-container-2,
    .main-container-3 {
        width: 90%;
        padding: 15px;
        margin-bottom: 25px;
    }

    #row {
        display: block;
        width: 90%;
        margin: 7% 5%;
    }

    .text {
        font-size: 150%;
    } */