* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#sec-1 {
    background-image: url(img/sec-1-backgrnd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
}

#header {
    position: absolute;
}